html, head, body {
    height: 100%;
    margin: 0px;
    width: 100%;
}
.ve.overlay {
    pointer-events: none;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;

    height: 100dvh;
    width: 100dvw;
    
    > div {
        pointer-events: auto;
    }
}

/* -- Vercengen themes -- */
:root {
    --navbar-height: 2rem;
    
    --accent-primary-colour: rgba(200, 40, 40);
    --accent-secondary-colour: rgba(240, 60, 60);
    --bg-primary-colour: rgba(0, 0, 0, 0.85);
    --bg-secondary-colour: rgba(35, 35, 35);
    --hover-colour: rgba(255, 255, 255, 0.3);

    --header-colour: white;
    --header-font-family: "Karla";
    --header-font-size: 1rem;
    --header-font-weight: 700;
    --image-filter: brightness(100);

    --body-colour: white;
    --body-font-family: "Karla";
    --body-font-size: 0.85rem;
    --body-font-weight: 300;

    --cell-padding: 0.25rem;
    --default-width: 12rem;
    --padding: 0.5rem;
}